###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
.phpunit.cache
/phpunit.xml
.phpunit.cache
infection.html
###< symfony/phpunit-bridge ###
