{
	auto_https off
	admin off
	servers {
		protocols h1
	}
	log {
		output stdout
		format json
	}
}

:80 {
	root * /var/www/html/public
	encode zstd br gzip
	header {
		-Server
		-Set-Cookie
	}
	log {
	    no_hostname
		output stdout
		format json
	}
	php_server
}
