@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap')

/* required in order to load Fira Code instantly */
{}

.markdown-section code,
.markdown-section pre,
.markdown-section output::after,
aside code {
  font-family: 'Fira Code', 'Roboto Mono', Monaco, courier, monospace;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: inherit !important;
  background: transparent !important;
}

.app-sub-sidebar li::before {
  display: none;
}

.markdown-section p.tip {
  border-left-color: var(--theme-color);
}

.markdown-section p.tip::before {
  background-color: var(--theme-color);
}

.sidebar-nav li {
  font-size: 14px;
}

.graph-container {
  width: 100%;
  height: 500px;
  background-color: #f8f8f8;
}
