:root {
  --ember-nexus-background-lightest: #ffffff;
  --ember-nexus-background-lighter: #f6f5f4;
  --ember-nexus-background-light: #deddda;
  --ember-nexus-text-red: #ff073a;
  --ember-nexus-text-orange: #FFA726;
  --ember-nexus-text-green: #4CAF50;
  --ember-nexus-text-blue: #0074E4;
  --ember-nexus-text-purple: #7E57C2;
}

.text-red {
  color: var(--ember-nexus-text-red);
}

.text-green {
  color: var(--ember-nexus-text-green);
}

.markdown-section pre,
.markdown-section pre > code,
.markdown-section code {
  background-color: var(--ember-nexus-background-lighter);
}

.markdown-section code,
.markdown-section pre,
.markdown-section output::after,
.code-title-path,
aside code {
  font-family: 'Fira Code', 'Roboto Mono', Monaco, courier, monospace;
}

body,
.anchor span,
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6,
.markdown-section strong {
  color: #1a1a1a;
}

/*.anchor span {*/
/*  color: orange;*/
/*}*/

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: inherit !important;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

td code {
  color: inherit !important;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

table {
  display: table !important;
  width: 100%;
}

table th {
  text-align: left;
}

.app-sub-sidebar li::before {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    overflow-x: auto !important;
  }
}

.markdown-section p.tip {
  border-left-color: var(--theme-color);
}

.markdown-section p.tip::before {
  background-color: var(--theme-color);
}

.sidebar-nav li {
  font-size: 14px;
}

.graph-container {
  width: 100%;
  height: 500px;
  background-color: var(--ember-nexus-background-lighter);
  margin-bottom: 1rem;
}

.method-get,
.method-post,
.method-put,
.method-patch,
.method-delete,
.method-copy,
.method-lock,
.method-unlock,
.method-mkcol,
.method-move,
.method-propfind,
.method-proppatch {
  font-weight: 700 !important;
  font-family: 'Fira Code', 'Roboto Mono', Monaco, courier, monospace !important;
}

.method-get {
  color: var(--ember-nexus-text-blue) !important;
}

.method-post {
  color: var(--ember-nexus-text-green) !important;
}

.method-put,
.method-patch {
  color: var(--ember-nexus-text-orange) !important;
}

.method-delete {
  color: var(--ember-nexus-text-red) !important;
}

.method-copy,
.method-lock,
.method-unlock,
.method-mkcol,
.method-move,
.method-propfind,
.method-proppatch {
  color: var(--ember-nexus-text-purple) !important;
}

.code-title {
  margin-top: 1.2em;
  margin-bottom: -1.2em;
  background-color: var(--ember-nexus-background-light);
  padding: 0.5rem 1.4rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-title.auto-refresh::after {
  content: url(./refresh-auto.svg);
  width: 24px;
  height: 24px;
  display: block;
}

pre + .code-title {
  margin-top: -1.2em;
}

.markdown-section pre > code {
  padding: 2.2em 0;
}

pre + iframe {
  margin-top: -1.2em !important;
}

.table-request-parameters,
.table-request-headers,
.table-response-headers {
  margin-bottom: 1rem;
  overflow-x: auto;
}

.table-request-parameters table,
.table-request-headers table,
.table-response-headers table {
  margin-bottom: 0;
}

.table-request-parameters th:first-of-type {
  width: 15%;
  min-width: 5em;
}

.table-request-parameters th:nth-of-type(2) {
  width: 65%;
  min-width: 25em;
}

.table-request-parameters th:nth-of-type(3) {
  width: 10%;
  min-width: 5em;
}

.table-request-parameters th:nth-of-type(4) {
  width: 10%;
  min-width: 5em;
}

.table-request-headers th:first-of-type {
  width: 15%;
  min-width: 5em;
}

.table-request-headers th:nth-of-type(2) {
  width: 65%;
  min-width: 25em;
}

.table-request-headers th:nth-of-type(3) {
  width: 10%;
  min-width: 5em;
}

.table-request-headers th:nth-of-type(4) {
  width: 10%;
  min-width: 5em;
}

.table-response-headers th:first-of-type {
  width: 15%;
  min-width: 5em;
}

.table-response-headers th:nth-of-type(2) {
  width: 75%;
  min-width: 25em;
}

.table-response-headers th:nth-of-type(3) {
  width: 10%;
  min-width: 5em;
}
